[build-system]
requires = ["setuptools>=77"]
build-backend = "setuptools.build_meta"

[project]
name = "nonebot-plugin-parser-lite-standalone"
version = "{{VERSION}}"
description = "Standalone social-media link parser"
readme = "README.md"
requires-python = ">=3.11"
license = "MIT"
dependencies = [
{{DEPENDENCIES}}
]

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
nonebot_plugin_parser_lite = ["render/templates/*", "parsers/tieba/*.desc"]
